
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #008080 !important;">
          <div class="card-body p-5">
            <h3>Gracias por su orden</h3>

            <p class="lead fw-bold mb-5" style="color: #008080;">Recibo de su Orden</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Fecha</p>
                <p>{{date}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Orden No.</p>
                <p>012j1gvs356c</p>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                      <p>Asiento</p>
                    </div>
                    <div class="col-md-4 col-lg-3">
                      <p>Precio</p>
                    </div>
                  </div>
                {% for seat in seats %}
                
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p>{{seat.row}}{{seat.number}}</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p>${{seat.price}}</p>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="row my-4">
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                <p class="lead fw-bold mb-0" style="color: #008080;">Total: ${{total_price}}</p>
              </div>
            </div>


           

          </div>
        </div>
      </div>
    </div>
  </div>