
<div class="border-bottom border-1 border-dark">
    <div class="container ">
        <h1 class="display-1">Bus Tickets</h1>
        <p>Compra online tus boletos de bus y viaja por todo el pais.</p>
        <form class="form-row">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Desde">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Hacia">
                <input type="date" class="form-control mb-2 mr-sm-2" placeholder="Fecha">
                <button class="btn btn-primary">Buscar</button>
          </form>
    </div>
</div>