.header {
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.row {
    display: flex;
    margin: 5px;
    justify-content: center;
    
}

.seat{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:40px;
    width:40px;
    margin:5px;
    padding:2px;
    position:relative;
}

.seat-check{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:40px;
    width:40px;
    margin:5px;
    padding:2px;
    position:absolute;
    z-index: 9;
    opacity:0.2;

}

input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance:initial;
    border:none;
    background: gray;
}
.seat-text{
    position:relative;
}

input[type="checkbox"]:checked{
    background-color: green;
}
