{% extends 'base/base.html' %}
{% load static %}
{% block custom_style %}

{% endblock custom_style %}
{% block title %}Trips Admin{% endblock title %}
{% block content %}


<div class="container">
    <h3>Trips Admin Panel</h3>
    <form action="" id="form-data" method="post" hx-post="{% url 'trip-create' %}"
    hx-target="#table-trips" hx-swap="outerHTML">
        <div class="mb-3">
            <label for="" class="form-label">Date & Time</label>
            <input type="datetime-local" name="trip_datetime" class="form-control" id="trip_datetime">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Route</label>
            <select  class="form-select" name="trip_route" id="trip_route">
                <option selected>Seleccione la Ruta</option>
                {% for route in routes %}
                <option value="{{ route.id }}">{{ route }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Bus</label>
            <select class="form-select" name="trip_bus" id="trip_bus">
                <option selected>Seleccione el Bus</option>
                {% for bus in buses %}
                <option value="{{ bus.id }}">{{ bus }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">ADD</button>
    </form>
    
    <table class="table" id="table-trips">
        
        <tr>
            <thead>
    
                <th>DateTime</th>
                <th>Route</th>
                <th>Bus</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
            <tr>
                <td>{{ trip.departure_time }}</td>
                <td>{{ trip.route }}</td>
                <td>{{ trip.bus }}</td>
                <td><i class="fa fa-pencil btn btn-primary"
                       hx-put="{% url 'trip-update' trip.id %}"
                       hx-target="#table-trips"
                       hx-include="#form-data"
                       hx-swap="outerHTML"
                       aria-hidden="true"></i>
                    <i class="fa fa-trash btn btn-danger" 
                       hx-delete="{% url 'trip-delete' trip.id %}"
                       hx-confirm="¿Esta seguro que desea borrar este viaje?"
                       hx-target="#table-trips"
                       hx-swap="outerHTML"
                       aria-hidden="true"></i>
                </td>
    
            </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>



{% endblock content %}