{% extends 'base/base.html' %}
{% load static %}
{% block custom_style %}

{% endblock custom_style %}
{% block title %}Select Seat{% endblock title %}
{% block content %}
{% include 'base/navbar.html' %}




<div id="container-seats" class="container-seats">

    <div class="header mb-3">
        <h3>Seleccione su asiento</h3>
        <p>Ruta: {{trip.route}}</p>
        <p>Salida: {{trip.departure_time}}</p>
        <p  >Asientos Seleccionados: </p><input name="selected-seats" id="selected-seats" style="border:none;"/>
        <button class="btn btn-primary" hx-post="{% url 'payment-view' trip.id %}" hx-include="#selected-seats" hx-target="#container-seats" hx-swap="outerHTML">CONTINUAR</button>
    </div>

    {% for row in rows %}
    <div class="row">
        
        {% if row.count == 4 %}
        {% for x in row.seats %}
            {% if x.seat.seat_number == 2 %}
            <div class="seat">
                <label class="seat-text" for=""> {{row.letter}}{{x.seat.seat_number}}</label>
                {% if x.is_sold == True %}
                <input  type="checkbox" onclick=buttonSelected() id="{{row.letter}}{{x.seat.seat_number}}"  class="seat-check disabled" disabled>
                {% else %}
                <input  type="checkbox" onclick=buttonSelected() id="{{row.letter}}{{x.seat.seat_number}}"   class="seat-check" >
                {% endif %}
                
            </div>
            <div class="seat">
                <input class="hide" type="checkbox"   class="seat-check hidden">
                <label   class="seat-text" for=""></label>
            </div>
            {% else %}
            <div class="seat">
                {% if x.is_sold == True %}
                <input  type="checkbox" onclick=buttonSelected() id="{{row.letter}}{{x.seat.seat_number}}"   class="seat-check disabled" disabled>
                {% else %}
                <input  type="checkbox" onclick=buttonSelected() id="{{row.letter}}{{x.seat.seat_number}}"   class="seat-check">
                {% endif %}
                <label class="seat-text"> {{row.letter}}{{x.seat.seat_number}}</label>
            </div>
            {% endif %}
            {% endfor %}
        {% else %}
        {% for x in row.seats %}
            <div class="seat">
                {% if x.is_sold == True %}
                <input  type="checkbox" onclick=buttonSelected() id="{{row.letter}}{{x.seat.seat_number}}"   class="seat-check disabled" disabled>
                {% else %}
                <input  type="checkbox" onclick=buttonSelected() id="{{row.letter}}{{x.seat.seat_number}}"  class="seat-check">
                {% endif %}
                <label class="seat-text"> {{row.letter}}{{x.seat.seat_number}}</label>
            </div>
            {% endfor %}

        {% endif %}

    </div>


{% endfor %}

</div>


<script>

   
    const buttonSelected = e => {
        //Check if there is at least one check button selected
        const checkedBoxes = document.querySelectorAll('input[type="checkbox"]:checked');
        console.log(checkedBoxes);
        selectedSeats = ""
        for (i=0; i<checkedBoxes.length;i++){
            if(i>0){
                selectedSeats = selectedSeats + ","+ checkedBoxes[i].id
            }
            else{
                selectedSeats = checkedBoxes[i].id;
            }
            
        }
        let paragraph = document.getElementById("selected-seats");
        paragraph.value = selectedSeats;
        selectedSeats = "";
    
    }
    
    //console.log(document.querySelectorAll('input[type=checkbox].seat-check'))
  
    
    </script>
    
{% endblock content %}