{% extends 'base/base.html' %}
{% load static %}
{% block custom_style %}

{% endblock custom_style %}
{% block title %}Select Seat{% endblock title %}
{% block content %}
{% include 'base/navbar.html' %}


<div class="header mb-3">
    <h3>Seleccione su asiento</h3>
    <p>Ruta: {{trip.route}}</p>
    <p>Salida: {{trip.departure_time}}</p>
    <button class="btn btn-primary" >CONTINUAR</button>
</div>

{% for row in rows %}
<div class="row">
    <div class="seat"></div>
    {% if row.count == 4 %}
    {% for x in row.seats %}
        {% if x.seat.seat_number == 2 %}
        <div class="seat">
            {% if x.is_sold == True %}
            <input  type="checkbox" name=""  class="seat-check disabled" disabled>
            {% else %}
            <input  type="checkbox" name=""  class="seat-check">
            {% endif %}
            <label class="seat-text" for=""> {{row.letter}}{{x.seat.seat_number}}</label>
        </div>
        <div class="seat">
            <input class="hide" type="checkbox" name=""  class="seat-check hidden">
            <label   class="seat-text" for=""></label>
        </div>
        {% else %}
        <div class="seat">
            {% if x.is_sold == True %}
            <input  type="checkbox" name=""  class="seat-check disabled" disabled>
            {% else %}
            <input  type="checkbox" name=""  class="seat-check">
            {% endif %}
            <label class="seat-text"> {{row.letter}}{{x.seat.seat_number}}</label>
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
    {% for x in row.seats %}
        <div class="seat ">
            {% if x.is_sold == True %}
            <input  type="checkbox" name=""  class="seat-check disabled" disabled>
            {% else %}
            <input  type="checkbox" name=""  class="seat-check">
            {% endif %}
            <label class="seat-text"> {{row.letter}}{{x.seat.seat_number}}</label>
        </div>
        {% endfor %}

    {% endif %}

</div>

{% endfor %}

{% include 'base/footer.html' %}
{% endblock content %}